{% extends 'review/base.html' %}
{% load static %}

{% block title %}
    Review
{% endblock %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'review/css/form.css' %}">
{% endblock %}

{% block content %}
    <h2>Оставьте ваш отзыв на артиста</h2>
    <h2><a href={% url 'main' %}>Назад</a></h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-style {% if field.errors %} errors {% endif %}">
            {{ field.label_tag }}
            {{  field.errors  }}
            {{ field }}
        </div>
        {% endfor %}
        <br>
        <br>
        <button type="submit">Отправить</button>
    </form>
{% endblock %}