{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ position|title }}
{% endblock %}


{% block css_additional %}
    <link rel="stylesheet"  href="{% static 'bolshoi_cast/css/info_position.css' %}">
{% endblock %}

{% block content %}
       <h2> {{ position|title }}</h2>
        <ul>
        {% for artist in artists %}
            <li>
                <div id="person_list">
                    <h1>
                        <span id="person_photo">
                            <img src={{ artist.photo }} height="120" border="0">
                        </span>
                        {{ artist.name }}
                    </h1>
                </div>
            </li>
        {% endfor %}
        </ul>
{% endblock %}